
@font-face {
  font-family: 'Avengence';
  src: url('/fonts/Avengeance.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'American';
  src: url('/fonts/AmericanCaptain.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
  background-color: black;
  color: white;
  padding: 10px;
  margin-left: 20px;
  display: flex;
}
.container-prelayout{
  display: flex;
}
.avenger-title{
  position: relative;
  font-family: 'Avengence';
  font-size: clamp(22px, 4vw, 100px);
  font-style: italic;
  
 
 margin-bottom: -3vmin;
}

.avenger-sub-title{
  position: relative;
  font-size: clamp(15px, 2vw, 60px);
  font-family: 'Avengence';
  letter-spacing: 1.1px;
  word-spacing: 5px;
}

.left-main{
  width: 50vw;
  border-right: 2px;
  border-color: white;
  border-right: 1.5px solid white;
}

.right-main{
  text-align: center;
  width: 50vw;
  padding-top: clamp(40px, 5vh, 60px);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  padding: 1rem;
  
}

.modal-underlay {
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0.3;
  z-index: 99;
  border: none;
  width: 100%;
  box-shadow: unset;
}

.modal-underlay:hover {
  transform: translate(0);
  box-shadow: unset;
}

.modal-content {
  display: flex;
 
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 101;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  height: 60%;
  border-radius: 10px;
  border: 1px solid red;
  background: black;
  
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  /* align-items: center;
  justify-content: center; */
  gap: 1rem;
  
}

.modal-header{
  margin-top: 5px;
  font-size: 2.5vw;
  font-family: "American";
  word-spacing: 1.1;
  letter-spacing: 1px;
}

.modal-body{
display: block;
text-align: center;
margin-top: -2px;
}

.modal-sub-body{
  display: flex;
  gap: clamp(20px, 4vw, 100px);
  margin-bottom: clamp(10px, 3vh, 30px);
  justify-content: center;
}

.modal-input{
  padding: 3px;
  background-color: black;
  color: white;
  width: 19vw;
  height: 6vh;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 5px;
 
}

 .modal-button{
  font-size: clamp(18px, 1.7vw, 26px);
  font-weight: bold;
  width: clamp(100px ,10vw, 300px);
  margin-top: 3vh ;
  height: 8vh;
  align-self: center;
  cursor: pointer;
  background-color: #A21010;
  color: white;
  border: 1.6px solid white;
  border-radius: 8px;

 }
 
.avenger-faceshot{
  height: clamp(50px, 5vw, 80px);
  width: clamp(40px, 4.8vw, 70px);
  border-radius: 50%;
}

 .modal-sub-body-assign{
  align-self: flex-start;
  margin-top: 15px;
  display: flex;
  overflow: scroll;
  gap: 17px;
  justify-content: flex-start;
  width: 40vw;
  scrollbar-width: none;
 }

.outer-container {
  margin-top: 15px;
  width: 100%;
  height: 190px; /* Or 100% if parent is sized */
  overflow: hidden; /* prevents content from overflowing parent */
  
}

.columns-container {
  display: flex;
  height: 100%;
}

.column {
  flex: 1;
  overflow-y: auto; /* vertical scroll if too many items */
  padding: 0.1rem;
  scrollbar-width: none;
 
}

.column:last-child {
  border-right: none;
}

.cell {
  display: flex;
  background: black;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  width: 50%;
  gap: 15px;
}

.mission-payment-input{
  background-color: black;
  border: none;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-top: 4px;
  height: 2vw;
  font-size: 14px;
  color: white;
}

.active-faceshot{
  
  border: 3px solid #A21010;
}