

.header-container{
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 5vw;
  align-items: center;
  
}

.header-avenger{
  font-family: "Avengence";
  font-size: 4vw;
  margin-left: 35vw;
  margin-right: 32vw;
}

.profile-div{
  display: flex;
  align-items: center;
  margin-right: 3vw;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5vw;
  gap: 10px;
  
}

.mail-button{
  background-color: black;
  color: white;
  border: none;
  font-size: 2.5vw;
  
  cursor: pointer;
}
.body-card{
  display: flex;
 
}

.title-container{
  width: 65vw;
  text-align: left;
  color: #A21010;
  
}

hr {
  border: none;
  height: 2px;
  background-color: #A21010;
}


.red-title{
  height: clamp(10px, -10vh, 40px)
}



.globe-container{
  position: relative;
  background-image: url('./assets/globe.png') ;
  height: max(55vh, 35vw);
  width: max(75vh, 60vw);
  background-repeat: no-repeat;
  background-size: 60% 100%;
  background-position: center;
  border-radius: 50%;  /* makes sure it's visually a circle */
  overflow: hidden;
  
}

.mission-popup{
  text-align: center;
  font-family: sans-serif;
  width: fit-content;
  position: absolute;
}

.mission-popup-icon{
  height: min(clamp(20px, 6vh, 30px), clamp(20px, 2vw, 30px));
  margin-bottom: clamp(-15px, -2vh, -15px);
}

.mission-name{
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  border-radius: 8px;
  color: #A21010;
}








